on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
    - uses: actions/checkout@v2
    - uses: hashicorp/setup-terraform@v1
    - id: foo
      uses: actions/terraform-module-checker@v0.0.1
      with:
        working_directory: '.'
