on: pull_request

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
    - uses: actions/checkout@v2
    - uses: hashicorp/setup-terraform@v1
    - id: foo
      uses: HarleyB123/terraform-module-checker@v0.0.72
      with:
        working_directory: '.'
    - name: comment PR
      uses: unsplash/comment-on-pr@master
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          msg: "${{ steps.foo.outputs.message }}"
          check_for_duplicate_msg: false


